@font-face {
	src: url("Mukta.ttf");
	font-family: "Mukta";
}
* {
	padding: 0px;
	margin: 0px;
	font-family: "Mukta";
}
a {
	text-decoration: none;
	color: #8d021f;
}
ul {
	list-style-type: none;
}
body {
	background-color: #e6e6e6;
}
h2 {
	color: #943444;
	font-weight: 400;
}
h1 {
	margin-left: 20px;
	color: #fff;
	font-size: 50px;
	text-shadow: 3px 3px 10px #000, 2px 2px 5px #000;
}
h3 {
	font-weight: 400;
	color: #943444;
	font-size: 16px;
}
/* HEADER */
#header {
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 10;
	height: 80px;
	width: 100%;
	background-color: #fff;
	box-shadow: 1px 1px 10px rgba(0,0,0,0.3);
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0px 12%;
	box-sizing: border-box;
}
#logo img {
	height: 60px;
}
#logo img:hover {
	filter: drop-shadow(0px 0px 5px rgba(0,0,0,0.5));
}
#meni ul {
	height: 80px;
	display: flex;
	align-items: center;
}
#meni ul li {
	width: 90px;
	margin: 5px;
	border-radius: 5px;
	text-align: center;
}
#meni ul li a, #vsadrzaj ul li a{
	text-decoration: none;
	color: #252525;
}
#meni ul li a.active, #vsadrzaj ul li a.active{
	color: #8d021f;
}
#meni ul li:hover, #vsadrzaj ul li:hover{
	background-color: #ddd;
}
/* RESPONSIVE VERTIKALNI MENI */
#vmeni{
	display: none;
	width: 60px;
	position: relative;
	font-size: 20px;
}
#vsadrzaj {
	display: none;
	position: absolute;
	left: -40px;
	width: 120px;
	
	background-color: #fafafa;
	box-shadow: 1px 1px 10px rgba(0,0,0,0.3);
	border-radius: 5px;
}
#vsadrzaj ul {
	text-align: center;
}
#vsadrzaj ul li {
	font-size: 16px;
	padding: 5px;
}
#vmeni:hover #vsadrzaj {
  display: block;
}
/* OKVIR */
main {
	position: relative;
	top: 80px;
	width: 100%;
	z-index: 2;
}
.bg {
	position: absolute;
	height: 650px;
	width: 100%;
	z-index: -1;
	clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	animation: pozadina 0.7s;
}
@keyframes pozadina {
	0% {
		filter: brightness(50%);
	}

	100% {
		filter: none;
	}
}
.bg#home{
	background-image: url("../img/home.jpg");
}
.bg#about{
	background-image: url("../img/about.jpg");
}
.bg#gallery{
	background-image: url("../img/gallery.jpg");
}
.bg#contact{
	background-image: url("../img/contact.jpg");
}
.bg#author{
	background-image: url("../img/author.jpg");
}
.okvir {
	position: relative;
	top: 70px;
	width: 75%;
	margin: 0px auto;
	will-change: transform, filter;
	animation: animacija 0.6s ease-in-out;
}
@keyframes animacija{
	0% { 
			transform: scale(0.9,0.9);	
			filter: opacity(60%) brightness(80%);
		
	}
	75% {
		transform: scale(1.02,1.02);
	}
	100% {  
			transform: scale(1,1);
			filter: blur(0px);
	}
}
.smanjeni {
	width: 65%;
}
/* SADRZAJ */
#content {
	background: rgba(250,250,250,0.85);
	width: 100%;
	min-height: 500px;
	border-radius: 5px;
	padding: 50px 0px;
	box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
	box-sizing: border-box;
	z-index: 2;
	filter: blur(0px);
} 
.tekst {
	padding: 0px 50px;
}
.tekst p {
	margin-bottom: 30px;
	color: #252525;
}
.tekst a {
	font-weight: 600;
}
/* SADRZAJ INDEX */
#ponuda {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	padding: 0px 20px;
}
#ponuda a {
	color: #252525;
	margin: 20px;
}
#ponuda article {
	background-color: #fafafa;
	border-radius: 5px;
	box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
	transition: box-shadow 0.2s;
}
#ponuda article:hover {
	box-shadow: 1px 1px 10px rgba(0,0,0,0.6);
}
#ponuda img {
	border-radius: 5px 5px 0px 0px;
	height: 200px;
}
#ponuda figcaption{
	padding-bottom: 6px;
	text-align: center;
}
/* SADRZAJ O NAMA */
#video {
	display: flex;
	justify-content: center;
	margin: 20px 0px;
}
#video video {
	width: 500px;
	border-radius: 5px;
	box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
}
#video video:focus {
	outline: none;
}
/* GALERIJA SADRZAJ */
#galerija {
	padding: 0px 20px;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	flex-wrap: wrap;
}
.slika {
	width: 400px;
	height: 400px;
	display: flex;
	position: relative;
	align-items: center;
	justify-content: center;
}
.slika img {
	width: 350px;
	height: 350px;
	border-radius: 5px;
	object-fit: cover;
	filter: saturate(0%);
	box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
	transition: width 0.2s, height 0.2s, filter 0.5s;
}
.slika a:hover img {
	width: 400px;
	height: 400px; 
	filter: saturate(100%);
}
.slika a:hover .ocena {
	display: flex;
}

.ocena {
	display: none;
	justify-content: center;
	align-items: center;
	position: absolute;
	bottom: 4px;
	width: 100%;
	height: 35px;
	border-radius: 0px 0px 5px 5px;
	animation: oceni 1s;
	background: rgba(30,30,30,0.2);
	backdrop-filter: blur(2px);
	color: #fff;
}
.ocena span{
	color: #ba0000;
	margin: 5px;
}
.ocena span:hover{
	transform: scale(1.3,1.3);
}
@keyframes oceni {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
/* SADRZAJ KONTAKT */
#kontakt {
	padding: 0px 30px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}
#info {
	margin-bottom: 40px;
	margin-right: 40px;
}
#info li {
	display: flex;
	margin: 10px 0px;
}
#info li span {
	margin-top: 5px;
	margin-right: 10px;
}
#mapa {
	animation: mapa 1.7s;
	background-image: url("../img/loading.gif");
	background-position: center;
	background-size: 320px;
	margin: 30px 0px;
	border: none;
	border-radius: 5px;
	box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
	width: 320px;
	height: 250px;
	filter: brightness(90%) contrast(115%);
}
@keyframes mapa {
	0%{
		opacity: 0%;
		box-shadow: none;
	}
	30% {
		box-shadow: none;
	}
	100% {
		box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
		opacity: 100%;
	}
}
#forma table {
	font-size: 12px;
	width: 300px;
}
#forma td {
	padding-top: 10px;
	padding-bottom: 10px;
}
#forma input[type="text"], #forma input[type="email"], #forma select {
	width: 300px;
	background: none;
	border: none;
	border-bottom: 1px solid rgba(116,25,45, 0.4);
}
#forma input[type="text"]:focus, #forma input[type="email"]:focus, #forma select:focus {
	border-bottom: 1px solid #8d021f;
	outline: none;
}
.required {
	color: #8d021f;
}
#poruka {
	width: 300px;
	max-width: 300px;
	height: 100px;
	background: none;
	border:  1px solid rgba(116,25,45, 0.4);
}
#poruka:focus {
	border:  1px solid #8d021f;
	outline: none;
}
#bwrapper {
	display: flex;
	justify-content: center;
}
.button {
	width: 80px;
	padding: 3px;
	margin: 0px 5px;
	background-color: #9e4252;
	color: #fff;
	border: none;
	border-radius: 5px;
}
.button:hover {
	background-color:#8d021f;
	cursor: pointer;
}
/* SADRZAJ AUTOR */
#autor {
	padding: 0px 30px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
#autor figure {
	width: 200px;
	background-color: #fff;
	box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
	border-radius: 5px;
	margin: 40px;
}
#autor figcaption {
	text-align: center;
	padding-bottom: 5px;
}
#autor img {
	width: 200px;
	border-radius: 5px 5px 0px 0px;
}
#atekst {
	width: 500px;
}
#atekst h2{
	margin-top: 30px;
}
#atekst p {
	text-align: justify;
}
/* FOOTER */
footer {
	margin-top: 80px;
	width: 100%;
}
footer .okvir {
	box-sizing: border-box;
	height: 200px;
	padding: 20px 0px;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-direction: row;
	flex-wrap: wrap;
}
#social ul {
	display: flex;
	justify-content: center;
}
#social ul li{
	margin: 0px 10px;
}
#social img {
	width: 24px;
}
#social img:hover{
	transform: scale(1.2,1.2);
}
#social p {
	margin: 15px 0px;
	text-align: center;
	font-size: 14px;
}
#fmeni {
	text-align: center;
}
#fmeni ul {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	align-items: center;
}
#fmeni ul li {
	margin-right: 5px;
	padding: 0px 5px;
	border-radius: 5px;
	font-size: 14px;
}
#fmeni img {
	margin: 7px 3px 0px 2px;
	width: 24px;
}
#fmeni ul li:hover {
	background-color: #bbb;
}
/* RESPONSIVE */
@media only screen and (max-width: 700px){
	#meni {
		display: none;
	}
	#vmeni {
		display: block;
	}
}
@media only screen and (max-width: 750px){
	.okvir {
		width: 90%;
	}
	h1 {
	font-size: 35px;
	margin-left: 0px;
	}
	#header {
		height: 60px;
		padding: 0px 5%;
	}
	#logo img {
		height: 40px;
	}
	main {
		top: 60px;
	}
	#content {
		padding-top: 30px;
	}
	.tekst, #kontakt, #autor {
	padding: 0px 30px;
	}
	#kontakt {
		align-items: center;
	}
	#info {
		margin: 0px;
	}
	#mapa {
		width: 300px;
	}
	footer {
		margin-top: 60px;
	}
	footer .okvir {
		justify-content: center;
	}
	#video video {
		width: 300px;
	}
}
@media only screen and (min-width: 1600px){
	.okvir {
		width: 1250px;
	}
	.smanjeni {
		width: 1000px;
	}
}